.calculator-display {
  font-size: 20px;
  background: white;
  height: fit-content;
  min-height: 48px;
  border: 1px solid black;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;

}

.calculator-display p {
    margin: 0;
    padding: 10px;
    word-break: break-all;
}
