@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");

:root {
  --primary-dark4: #000000;
  --primary-dark3: #e45c3a; /* Orange Soda */
  --primary-dark2: #d7431d; /* Vermillion */
  --primary-dark1: #b43718; /* Chinese Red */
  --primary: #e76f51; /* Burnt Sienna */
  --primary-light2: #eb886f; /* Middle Red */
  --primary-light3: #eb886f; /* Vivid Tangerine */
  --primary-light1: #eb886f; /* Melon */
  --light: #f8d2c9; /* Pale Pink*/

  --charcoal: #264653;
  --persian-green: #2a9d8f;
  --prussian-blue: #00547A;

  --secondary: #E9C46A;
  --secondary-dark: #E2B33C;


  --max-width: 1440px;

  --font1: "Quicksand", sans-serif;
  --button-size: 3rem;
}

.title {
  display: flex;
  justify-self: center;
  justify-content: center;
  font-size: 50px;
  margin: 2rem;
  color: var(--light);
}

@media screen and (max-width: 500px) {
  .title {
    flex-flow: column;
    align-items: center;
  }
}

.title::after {
  content: "✌🏼";
}

body {
  margin: 0;
  /* background: var(--persian-green); */
  background: var(--prussian-blue);
  font-family: var(--font1);
  display: grid;
  grid-template-columns: 1fr minmax(auto, var(--max-width)) 1fr;
}

#root {
  grid-column: 2/-2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
